@model IEnumerable<Entities.Customer>
@{
    ViewData["Title"] = "GetCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Customer/Add" class="btn btn-lg btn-info">Create New Customer</a>
<h3>Customer List</h3>
<table class=" table table-sm table-hover">
    <tr>
        <th><label>Id</label></th>
        <th><label>Name</label></th>
        <th><label>Surname</label></th>
        <th><label>Gender</label></th>
        <th><label>Phone</label></th>
        <th><label>Address</label></th>
        <th><label>Edit</label></th>
        <th><label>Delete</label></th>
        @*<td><label>Detail</label></td>*@
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Surname</td>
    <td>@(item.Gender==true?"Female":"Male")</td>
    <td>@item.Phone</td>
    <td>@item.Adress</td>
    <td>@Html.ActionLink("edit", "edit", new { id = item.Id })</td>
    <td>@Html.ActionLink("delete", "Delete", new { id = item.Id })</td>
    @*<td>@Html.ActionLink("detail","GetCustomerById", new { id = item.Id }) </td>*@
</tr>
    }
    
</table>

